{% extends '/admin/base_admin.html.twig' %}


{% block contenu%}


    <div class="container">
        <h1 class="mb-4">  {{  app.request.get('_route') == "app_admin_foodtruck_ajouter" ? 'Ajouter' : 'Modifier'}} un FoodTruck</h1>
        {{ form_start(form) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.typeCuisine) }}
        {%  if app.request.get('_route') == 'app_admin_foodtruck_ajouter' %}
            <button class="btn btn-primary" type="submit">
                Ajouter

            </button>
        {% else %}
            <button class="btn btn-success" type="submit">Modifier</button>
        {% endif %}
        {{ form_end(form) }}
    </div>

{% endblock %}